/* Этот CSS файл создан в программе Vim версии 8.2 */
/* из цветовой схемы blue */
/* Для этого использовался подключаемый модуль «colo2css.vim» */
 
*, .Normal, .Terminal
{font-family: "Natural Mono Alt", monospace;
font-size: 10pt;
background-color: #000087;
color: #ffdf00;}
.ColorColumn
{background-color: #870087;}
.Cursor, .lCursor
{background-color: #00d75f;
color: #000000;}
.CursorColumn
{background-color: #005faf;}
.CursorIM
{background-color: #ffdf00;}
.CursorLine
{background-color: #005faf;}
.CursorLineNr
{background-color: #005faf;
color: #ffdf00;}
.DiffAdd
{color: #000087;
background-color: #008700;}
.DiffChange
{color: #000087;
background-color: #008787;}
.DiffDelete
{color: #000087;
background-color: #870000;}
.DiffText
{color: #000087;
background-color: #5fffff;}
.Directory
{color: #5fffff;}
.EndOfBuffer
{background-color: #000087;
color: #ffdf00;}
.ErrorMsg
{background-color: #d70000;
color: #ffffff;}
.FoldColumn
{color: #008787;}
.Folded
{background-color: #878700;
color: #000087;}
.IncSearch
{background-color: #ffffff;
color: #870087;}
.LineNr, .LineNrAbove, .LineNrBelow
{color: #ffffff;}
.MatchParen
{background-color: #d787d7;
color: #ffffff;}
.ModeMsg
{background-color: #00d75f;
color: #000087;}
.MoreMsg
{color: #5fffff;}
.NonText
{color: #d787d7;}
.Pmenu
{background-color: #008787;
color: #ffffff;}
.PmenuSel
{background-color: #ffffff;
color: #008787;}
.PmenuThumb
{background-color: #ffffff;}
.Question
{color: #00d75f;}
.Search, .QuickFixLine
{background-color: #ffdf00;
color: #000000;}
.SignColumn
{color: #008787;}
.SpecialKey
{color: #5fffff;}
.SpellBad
{-moz-text-decoration-color: #d70000; -webkit-text-decoration-color: #d70000; text-decoration-color: #d70000;}
.SpellCap
{-moz-text-decoration-color: #005faf; -webkit-text-decoration-color: #005faf; text-decoration-color: #005faf;}
.SpellLocal
{-moz-text-decoration-color: #d787d7; -webkit-text-decoration-color: #d787d7; text-decoration-color: #d787d7;}
.SpellRare
{-moz-text-decoration-color: #5fffff; -webkit-text-decoration-color: #5fffff; text-decoration-color: #5fffff;}
.StatusLine, .TabLineSel, .StatusLineTerm
{background-color: #5fffff;
color: #000087;}
.StatusLineNC, .TabLine, .TabLineFill, .StatusLineTermNC
{background-color: #008787;
color: #5fffff;}
.Title
{color: #d787d7;}
.VertSplit
{color: #008787;}
.Visual
{background-color: #008787;
color: #ffffff;}
.VisualNOS
{background-color: #ffffff;
color: #008787;}
.WarningMsg, .diffRemoved, .diffOnly, .diffNoEOL, .diffIsA, .diffIdentical, .diffDiffer, .diffCommon, .diffBDiffer
{color: #d70000;}
.WildMenu
{background-color: #ffdf00;
color: #000087;}
.ToolbarLine
.ToolbarButton
{background-color: #005faf;
color: #ffffff;}
.Comment
{color: #bcbcbc;}
.Constant, .String, .diffAdded, .Character, .Number, .Boolean, .Float
{color: #5fffff;}
.Special, .Tag, .SpecialChar, .Delimiter, .SpecialComment, .Debug
{color: #5fffff;}
.Identifier, .Function
{color: #bcbcbc;}
.Statement, .Conditional, .Repeat, .Label, .Operator, .Keyword, .Exception
{color: #ffffff;}
.PreProc, .Include, .Define, .Macro, .PreCondit
{color: #00d75f;}
.Type, .StorageClass, .Structure, .Typedef
{color: #00d75f;}
.Underlined
{text-decoration: underline;}
.Ignore
{color: #878787;}
.Error
{background-color: #d70000;
color: #ffffff;}
.Todo
{background-color: #ffffff;
color: #000087;}
.debugBreakpoint
{background-color: #d70000;
color: #000087;}
.debugPC
{background-color: #005faf;
color: #000087;}
