/* Этот CSS файл создан в программе Vim версии 8.2 */
/* из цветовой схемы delek */
/* Для этого использовался подключаемый модуль «colo2css.vim» */
 
*, .Normal, .Terminal
{font-family: "Natural Mono Alt", monospace;
font-size: 10pt;
background-color: #ffffff;
color: #000000;}
.ColorColumn
{background-color: #e4e4e4;
color: #000000;}
.Conceal
{color: #ee0000;}
.Cursor
{background-color: #000000;
color: #ffffff;}
.CursorColumn
{background-color: #e4e4e4;}
.CursorLine
{background-color: #e4e4e4;}
.CursorLineNr
{font-weight: bold;
color: #a52a2a;}
.DiffAdd
{background-color: #d7ffd7;}
.DiffChange
{background-color: #ffffd7;}
.DiffDelete
{background-color: #ffd7d7;
color: #ee0000;}
.DiffText
{background-color: #ffd787;
color: #000000;}
.Directory
{font-weight: bold;
color: #008b8b;}
.EndOfBuffer
{color: #bcbcbc;}
.FoldColumn
{color: #00008b;}
.Folded
{background-color: #e4e4e4;
color: #00008b;}
.IncSearch
{color: #ffffff;
background-color: #000000;}
.LineNr, .LineNrAbove, .LineNrBelow
{color: #a52a2a;}
.MatchParen
{background-color: #ff1493;
color: #ffffff;}
.ModeMsg
{font-weight: bold;
background-color: #ffffff;
color: #000000;}
.MoreMsg
{font-weight: bold;
background-color: #ffffff;
color: #000000;}
.NonText
{color: #bcbcbc;}
.Pmenu
{background-color: #add8e6;
color: #000000;}
.PmenuSbar
{background-color: #ffffff;}
.PmenuSel
{background-color: #00008b;
color: #ffffff;}
.PmenuThumb
{background-color: #008b8b;}
.Question
{font-weight: bold;
color: #00cd00;}
.QuickFixLine
{background-color: #e4e4e4;}
.Search
{background-color: #cd00cd;
color: #ffffff;}
.SignColumn
.SpecialKey
{color: #bcbcbc;}
.SpellBad
{color: #ff0000;
text-decoration: underline;-moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #ff0000; -webkit-text-decoration-color: #ff0000; text-decoration-color: #ff0000;}
.SpellCap
{color: #008b8b;
text-decoration: underline;-moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #008b8b; -webkit-text-decoration-color: #008b8b; text-decoration-color: #008b8b;}
.SpellLocal
{color: #0000ff;
text-decoration: underline;-moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #0000ff; -webkit-text-decoration-color: #0000ff; text-decoration-color: #0000ff;}
.SpellRare
{color: #0000ff;
text-decoration: underline;-moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #0000ff; -webkit-text-decoration-color: #0000ff; text-decoration-color: #0000ff;}
.StatusLine
{font-weight: bold;
background-color: #0000ff;
color: #ffd700;}
.StatusLineNC
{background-color: #0000ff;
color: #ffd700;}
.StatusLineTerm
{font-weight: bold;
color: #ffffff;
background-color: #0000ff;}
.StatusLineTermNC
{color: #ffffff;
background-color: #0000ff;}
.TabLine
{background-color: #e4e4e4;
color: #000000;}
.TabLineFill
{background-color: #bcbcbc;}
.TabLineSel
{font-weight: bold;}
.Title
{font-weight: bold;
color: #cd00cd;}
.VertSplit
{background-color: #000000;
color: #ffd700;}
.Visual
{background-color: #d0d0d0;
color: #000000;}
.VisualNOS
{background-color: #ee0000;}
.WarningMsg
{background-color: #ffffff;
color: #cd00cd;}
.WildMenu
{font-weight: bold;
background-color: #00008b;
color: #ffd700;}
.lCursor
{background-color: #00cd00;
color: #000000;}
.Error, .ErrorMsg
{background-color: #ff0000;
color: #ffffff;}
.Todo
{background-color: #ffff00;
color: #000000;}
.Constant, .String, .Character, .Number, .Float, .Boolean
{color: #00cd00;}
.Special, .Tag, .SpecialChar, .Delimiter, .SpecialComment, .Debug
{color: #ff1493;}
.Identifier, .Function
{color: #008b8b;}
.Statement, .Conditional, .Repeat, .Label, .Operator, .Keyword, .Exception
{font-weight: bold;
color: #0000ff;}
.PreProc, .Include, .Define, .Macro, .PreCondit
{color: #cd00cd;}
.Type, .StorageClass, .Structure, .Typedef
{font-weight: bold;
color: #0000ff;}
.Underlined
{color: #6a5acd;
text-decoration: underline;}
.Comment
{color: #ee0000;}
.ToolbarButton
{font-weight: bold;
background-color: #bcbcbc;}
.ToolbarLine
{background-color: #e4e4e4;}
