/* Этот CSS файл создан в программе Vim версии 8.2 */
/* из цветовой схемы desert */
/* Для этого использовался подключаемый модуль «colo2css.vim» */
 
*, .Normal, .Terminal
{font-family: "Natural Mono Alt", monospace;
font-size: 10pt;
background-color: #333333;
color: #ffffff;}
.ColorColumn
{background-color: #cd5c5c;
color: #ffffff;}
.Conceal
{color: #666666;}
.Cursor
{background-color: #f0e68c;
color: #333333;}
.CursorColumn
{background-color: #666666;}
.CursorLine
{background-color: #666666;}
.CursorLineNr
{font-weight: bold;
color: #eeee00;}
.DiffAdd
{background-color: #005f00;}
.DiffChange
{background-color: #00005f;}
.DiffDelete
{background-color: #5f0000;
color: #ff0000;}
.DiffText
{background-color: #6dceeb;
color: #cd853f;}
.Directory
{color: #6dceeb;}
.ErrorMsg
{background-color: #ff0000;
color: #ffffff;}
.FoldColumn
{background-color: #4d4d4d;
color: #eeee00;}
.Folded
{background-color: #4d4d4d;
color: #eeee00;}
.IncSearch
{background-color: #cd853f;
color: #f0e68c;}
.LineNr, .LineNrAbove, .LineNrBelow
{color: #eeee00;}
.MatchParen
{background-color: #bdb76b;
color: #7f7f8c;}
.ModeMsg
{font-weight: bold;
color: #ffde9b;}
.MoreMsg
{font-weight: bold;
color: #9acd32;}
.NonText, .EndOfBuffer
{color: #6dceeb;}
.Pmenu
{background-color: #666666;
color: #ffffff;}
.PmenuSbar
{background-color: #333333;}
.PmenuSel
{background-color: #f0e68c;
color: #333333;}
.PmenuThumb
{background-color: #c2bfa5;}
.Question
{font-weight: bold;
color: #89fb98;}
.QuickFixLine
{background-color: #666666;}
.Search
{background-color: #7f7f8c;
color: #f0e68c;}
.SignColumn
.SpecialKey
{color: #9acd32;}
.SpellBad
{color: #ff0000;
text-decoration: underline;-moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #7f7f8c; -webkit-text-decoration-color: #7f7f8c; text-decoration-color: #7f7f8c;}
.SpellCap
{color: #cd5c5c;
text-decoration: underline;-moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #cd5c5c; -webkit-text-decoration-color: #cd5c5c; text-decoration-color: #cd5c5c;}
.SpellLocal
{color: #bdb76b;
text-decoration: underline;-moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #bdb76b; -webkit-text-decoration-color: #bdb76b; text-decoration-color: #bdb76b;}
.SpellRare
{color: #f0e68c;
text-decoration: underline;-moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #f0e68c; -webkit-text-decoration-color: #f0e68c; text-decoration-color: #f0e68c;}
.StatusLine
{background-color: #c2bfa5;
color: #333333;}
.StatusLineNC
{background-color: #c2bfa5;
color: #7f7f8c;}
.StatusLineTerm
{background-color: #c2bfa5;
color: #333333;}
.StatusLineTermNC
{background-color: #c2bfa5;
color: #ffffff;}
.TabLine
{background-color: #c2bfa5;
color: #333333;}
.TabLineFill
{background-color: #c2bfa5;}
.TabLineSel
{background-color: #f0e68c;
color: #333333;}
.Title
{color: #cd5c5c;}
.VertSplit
{background-color: #c2bfa5;
color: #7f7f8c;}
.Visual
{background-color: #6b8e24;
color: #f0e68c;}
.VisualNOS
{background-color: #6dceeb;
color: #f0e68c;}
.WarningMsg
{font-weight: bold;
color: #cd5c5c;}
.WildMenu
{background-color: #eeee00;
color: #333333;}
.lCursor
{background-color: #ff0000;
color: #333333;}
.ToolbarLine
{background-color: #666666;}
.ToolbarButton
{font-weight: bold;
background-color: #ffde9b;
color: #333333;}
.Comment
{color: #6dceeb;}
.Constant, .String, .Character, .Number, .Float, .Boolean
{color: #ffa0a0;}
.Special, .Tag, .SpecialChar, .Delimiter, .SpecialComment, .Debug
{color: #ffde9b;}
.Identifier, .Function
{color: #89fb98;}
.Statement, .Conditional, .Repeat, .Label, .Operator, .Keyword, .Exception
{font-weight: bold;
color: #f0e68c;}
.PreProc, .Include, .Define, .Macro, .PreCondit
{color: #cd5c5c;}
.Type, .StorageClass, .Structure, .Typedef
{font-weight: bold;
color: #bdb76b;}
.Underlined
{color: #75a0ff;
text-decoration: underline;}
.Error
{background-color: #ff0000;
color: #ffffff;}
.Todo
{background-color: #eeee00;
color: #ff0000;}
