/* Этот CSS файл создан в программе Vim версии 8.2 */
/* из цветовой схемы industry */
/* Для этого использовался подключаемый модуль «colo2css.vim» */
 
*, .Normal, .Terminal
{font-family: "Natural Mono Alt", monospace;
font-size: 10pt;
background-color: #000000;
color: #dadada;}
.ColorColumn
{background-color: #444444;}
.Conceal
{color: #6c6c6c;}
.Cursor
{background-color: #dadada;
color: #000000;}
.CursorColumn
{background-color: #6c6c6c;}
.CursorLine
{background-color: #6c6c6c;}
.CursorLineNr
{font-weight: bold;
color: #ffff00;}
.DiffAdd
{background-color: #005f00;}
.DiffChange
{background-color: #00005f;}
.DiffDelete
{background-color: #5f0000;
color: #ff0000;}
.DiffText
{background-color: #0000ff;
color: #00afaf;}
.Directory
{color: #00ffff;}
.EndOfBuffer
{background-color: #000000;
color: #444444;}
.ErrorMsg
{background-color: #ff0000;
color: #ffffff;}
.FoldColumn
{color: #00afaf;}
.Folded
{background-color: #303030;
color: #00afaf;}
.IncSearch
{background-color: #00ff00;
color: #000000;}
.LineNr, .LineNrAbove, .LineNrBelow
{color: #ffff00;}
.MatchParen
{background-color: #afaf00;
color: #303030;}
.ModeMsg
{font-weight: bold;
color: #ffffff;}
.MoreMsg
{font-weight: bold;
color: #5fd75f;}
.NonText
{color: #00afaf;}
.Pmenu
{background-color: #444444;
color: #dadada;}
.PmenuSbar
{background-color: #000000;}
.PmenuSel
{background-color: #ffff00;
color: #000000;}
.PmenuThumb
{background-color: #6c6c6c;}
.Question
{font-weight: bold;
color: #00ff00;}
.QuickFixLine
{background-color: #6c6c6c;}
.Search
{background-color: #ffff00;
color: #000000;}
.SignColumn
{color: #00afaf;}
.SpecialKey
{color: #00afaf;}
.SpellBad
{color: #ff0000;
text-decoration: underline;-moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #ff0000; -webkit-text-decoration-color: #ff0000; text-decoration-color: #ff0000;}
.SpellCap
{color: #870000;
text-decoration: underline;-moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #870000; -webkit-text-decoration-color: #870000; text-decoration-color: #870000;}
.SpellLocal
{color: #afaf00;
text-decoration: underline;-moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #afaf00; -webkit-text-decoration-color: #afaf00; text-decoration-color: #afaf00;}
.SpellRare
{color: #ffff00;
text-decoration: underline;-moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #ffff00; -webkit-text-decoration-color: #ffff00; text-decoration-color: #ffff00;}
.StatusLine
{font-weight: bold;
background-color: #dadada;
color: #000000;}
.StatusLineNC
{background-color: #dadada;
color: #000000;}
.StatusLineTerm
{font-weight: bold;
background-color: #5fd75f;
color: #000000;}
.StatusLineTermNC
{background-color: #5fd75f;
color: #000000;}
.TabLine
{background-color: #444444;
color: #dadada;}
.TabLineFill
{background-color: #6c6c6c;}
.TabLineSel
{font-weight: bold;
background-color: #000000;
color: #ffffff;}
.Title
{font-weight: bold;
color: #ff00ff;}
.VertSplit
{background-color: #dadada;
color: #000000;}
.Visual
{background-color: #6c6c6c;
color: #dadada;}
.VisualNOS
{background-color: #6c6c6c;
color: #dadada;}
.WarningMsg
{font-weight: bold;
color: #870000;}
.WildMenu
{background-color: #ffff00;
color: #000000;}
.lCursor
{background-color: #ff0000;
color: #000000;}
.ToolbarLine
{background-color: #303030;}
.ToolbarButton
{font-weight: bold;
background-color: #6c6c6c;
color: #dadada;}
.Comment
{color: #00afaf;}
.Constant, .String, .Character, .Number, .Float, .Boolean
{color: #00ffff;}
.Special, .Tag, .SpecialChar, .SpecialComment, .Debug
{color: #ff0000;}
.Identifier
{color: #ff00ff;}
.Statement, .Conditional, .Repeat, .Label, .Operator, .Keyword, .Exception
{font-weight: bold;
color: #ffffff;}
.PreProc, .Include, .Define, .Macro, .PreCondit
{color: #ffff00;}
.Type, .StorageClass, .Structure, .Typedef
{font-weight: bold;
color: #00ff00;}
.Underlined
{color: #87afff;
text-decoration: underline;}
.Error
{background-color: #ff0000;
color: #ffffff;}
.Todo
{background-color: #ffff00;
color: #005fff;}
.Function
{color: #00ff00;}
.Delimiter
{color: #ffff00;}
