/* Этот CSS файл создан в программе Vim версии 8.2 */
/* из цветовой схемы jellybeans */
/* Для этого использовался подключаемый модуль «colo2css.vim» */
 
*, .Normal, .phpOperator, .phpRelation, .objcMethodArg, .vimOper
{font-family: "Natural Mono Alt", monospace;
font-size: 10pt;
background-color: #151515;
color: #e8e8d3;}
.ColorColumn
{background-color: #000000;}
.Cursor
{background-color: #b0d0f0;
color: #151515;}
.CursorColumn
{background-color: #1c1c1c;}
.CursorLine
{background-color: #1c1c1c;}
.CursorLineNr
{color: #ccc5c4;}
.DiffAdd
{background-color: #437019;
color: #D2EBBE;}
.DiffChange
{background-color: #2B5B77;}
.DiffDelete
{background-color: #700009;
color: #40000A;}
.DiffText
{background-color: #8fbfdc;
color: #000000;}
.Directory, .TagListFileName
{color: #dad085;}
.ErrorMsg, .Error
{background-color: #902020;}
.FoldColumn
{background-color: #1f1f1f;
color: #535D66;}
.Folded
{font-style: italic;
background-color: #384048;
color: #a0a8b0;}
.IncSearch
{color: #151515;
background-color: #e8e8d3;}
.LineNr
{background-color: #151515;
color: #605958;}
.MatchParen
{font-weight: bold;
background-color: #556779;
color: #ffffff;}
.ModeMsg
{font-weight: bold;}
.NonText, .EndOfBuffer
{background-color: #151515;
color: #606060;}
.Pmenu
{background-color: #606060;
color: #ffffff;}
.PmenuSbar
{background-color: #BEBEBE;}
.PmenuSel
{background-color: #eeeeee;
color: #101010;}
.PmenuThumb
{background-color: #FFFFFF;}
.Question
{color: #65C254;}
.Search, .QuickFixLine
{background-color: #302028;
color: #f0a0c0;
text-decoration: underline;}
.SignColumn
{background-color: #333333;
color: #777777;}
.SpecialKey
{background-color: #1c1c1c;
color: #444444;}
.SpellBad
{background-color: #902020;
text-decoration: underline;
-moz-text-decoration-color: #FF0000; -webkit-text-decoration-color: #FF0000; text-decoration-color: #FF0000;}
.SpellCap
{background-color: #0000df;
text-decoration: underline;
-moz-text-decoration-color: #0000FF; -webkit-text-decoration-color: #0000FF; text-decoration-color: #0000FF;}
.SpellLocal
{background-color: #2D7067;
text-decoration: underline;
-moz-text-decoration-color: #00FFFF; -webkit-text-decoration-color: #00FFFF; text-decoration-color: #00FFFF;}
.SpellRare
{background-color: #540063;
text-decoration: underline;
-moz-text-decoration-color: #FF00FF; -webkit-text-decoration-color: #FF00FF; text-decoration-color: #FF00FF;}
.StatusLine
{font-style: italic;
background-color: #dddddd;
color: #000000;}
.StatusLineNC
{font-style: italic;
background-color: #403c41;
color: #ffffff;}
.StatusLineTerm
{font-weight: bold;
background-color: #90EE90;
color: #151515;}
.StatusLineTermNC
{background-color: #90EE90;
color: #151515;}
.TabLine
{font-style: italic;
background-color: #b0b8c0;
color: #000000;}
.TabLineFill
{color: #9098a0;}
.TabLineSel
{font-weight: bold;
font-style: italic;
background-color: #f0f0f0;
color: #000000;}
.Title
{font-weight: bold;
color: #70b950;}
.VertSplit
{background-color: #403c41;
color: #777777;}
.Visual
{background-color: #404040;}
.VisualNOS
{font-weight: bold;
text-decoration: underline;}
.WarningMsg
{color: #FF0000;}
.WildMenu
{background-color: #302028;
color: #f0a0c0;}
.lCursor
{background-color: #e8e8d3;
color: #151515;}
.ToolbarLine
{background-color: #7F7F7F;}
.ToolbarButton
{font-weight: bold;
background-color: #D3D3D3;
color: #000000;}
.Comment, .rubySharpBang
{font-style: italic;
color: #888888;}
.Constant, .Character, .Number, .Float, .Boolean, .diffRemoved, .cOperator, .phpBoolean, .phpNull, .javaScriptValue, .objcStatement
{color: #cf6a4c;}
.Special, .MoreMsg, .Tag, .SpecialChar, .SpecialComment, .Debug, .xmlEntity, .xmlEntityPunct
{color: #799d6a;}
.Identifier, .rubyInterpolationDelimiter, .phpSuperglobal, .phpVarSelector, .erlangNode, .javaScriptTemplateDelim, .cFormat, .objcMethodName, .objcMessageName
{color: #c6b6ee;}
.Statement, .Conditional, .luaOperator, .Repeat, .Label, .Keyword, .Exception, .htmlTag, .htmlEndTag, .htmlTagName, .xmlTag, .xmlEndTag, .xmlTagName, .xmlEqual, .pythonOperator, .erlangDirective
{color: #8197bf;}
.PreProc, .Include, .Define, .Macro, .PreCondit, .xmlDocTypeDecl, .xmlDocTypeKeyword
{color: #8fbfdc;}
.Type, .Typedef, .rubyConstant, .objcClass, .cocoaClass, .objcSubclass, .objcSuperclass
{color: #ffb964;}
.Underlined
{color: #80a0ff;
text-decoration: underline;}
.Ignore
{color: #151515;}
.Todo
{font-weight: bold;
color: #c7c7c7;}
.String, .diffAdded, .rubyString, .javaScriptTemplateString
{color: #99ad6a;}
.Function, .phpFunctions, .rubyFunction, .cocoaFunction
{color: #fad07a;}
.Structure, .Operator
{color: #8fbfdc;}
.Delimiter
{color: #668799;}
.StorageClass
{color: #c59f6f;}
.StringDelimiter, .rubyStringDelimiter, .phpQuoteSingle, .phpQuoteDouble
{color: #556633;}
.rubyClass, .objcDirective, .rubyModule
{color: #447799;}
.rubyIdentifier
{color: #c6b6fe;}
.rubyInstanceVariable, .rubyGlobalVariable
{color: #c6b6fe;}
.rubySymbol, .erlangAtom, .elixirAtom
{color: #7697d6;}
.rubyControl
{color: #7597c6;}
.rubyRegexpDelimiter
{color: #540063;}
.rubyRegexp, .javaScriptRegexpString, .coffeeRegExp
{color: #dd0093;}
.rubyRegexpSpecial
{color: #a40073;}
.rubyPredefinedIdentifier, .erlangBIF, .erlangFunction
{color: #de5577;}
.DbgCurrent
{background-color: #345FA8;
color: #DEEBFE;}
.DbgBreakPt
{background-color: #4F0037;}
.IndentGuidesOdd
{background-color: #232323;}
.IndentGuidesEven
{background-color: #1b1b1b;}
.PreciseJumpTarget
{background-color: #405026;
color: #B9ED67;}
