/* Этот CSS файл создан в программе Vim версии 8.2 */
/* из цветовой схемы murphy */
/* Для этого использовался подключаемый модуль «colo2css.vim» */
 
*, .Normal, .Terminal
{font-family: "Natural Mono Alt", monospace;
font-size: 10pt;
background-color: #000000;
color: #87ff87;}
.ColorColumn
{background-color: #262626;}
.Conceal
{color: #bcbcbc;}
.Cursor
{background-color: #87ff87;
color: #000000;}
.CursorColumn
{background-color: #444444;}
.CursorLine
{background-color: #444444;}
.CursorLineNr
{font-weight: bold;
color: #ffff00;}
.DiffAdd
{background-color: #005f00;}
.DiffChange
{background-color: #00005f;}
.DiffDelete
{background-color: #5f0000;
color: #ffd7af;}
.DiffText
{background-color: #005f00;
color: #ffff00;}
.Directory
{color: #00ffff;}
.EndOfBuffer
{background-color: #000000;
color: #0000ff;}
.ErrorMsg
{background-color: #ff0000;
color: #ffffff;}
.FoldColumn
{color: #00afaf;}
.Folded
{background-color: #303030;
color: #00afaf;}
.IncSearch
{color: #000000;
background-color: #87ff87;}
.LineNr, .LineNrAbove, .LineNrBelow
{color: #ffff00;}
.MatchParen
{background-color: #ffd7af;
color: #303030;}
.ModeMsg
{font-weight: bold;
color: #87ff87;}
.MoreMsg
{font-weight: bold;
color: #005f00;}
.NonText
{color: #00afaf;}
.Pmenu
{background-color: #444444;
color: #ffffff;}
.PmenuSbar
{background-color: #303030;}
.PmenuSel
{background-color: #ffff00;
color: #000000;}
.PmenuThumb
{background-color: #bcbcbc;}
.Question
{font-weight: bold;
color: #00ffff;}
.QuickFixLine
{background-color: #444444;}
.Search
{background-color: #0000ff;
color: #ffffff;}
.SignColumn
{color: #00afaf;}
.SpecialKey
{color: #00afaf;}
.SpellBad
{color: #ff0000;
text-decoration: underline;-moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #ff0000; -webkit-text-decoration-color: #ff0000; text-decoration-color: #ff0000;}
.SpellCap
{color: #ffa700;
text-decoration: underline;-moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #ffa700; -webkit-text-decoration-color: #ffa700; text-decoration-color: #ffa700;}
.SpellLocal
{color: #ffd7af;
text-decoration: underline;-moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #ffd7af; -webkit-text-decoration-color: #ffd7af; text-decoration-color: #ffd7af;}
.SpellRare
{color: #ffff00;
text-decoration: underline;-moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #ffff00; -webkit-text-decoration-color: #ffff00; text-decoration-color: #ffff00;}
.StatusLine
{background-color: #00008b;
color: #ffffff;}
.StatusLineNC
{background-color: #3a3a3a;
color: #ffffff;}
.StatusLineTerm
{background-color: #87ff87;
color: #000000;}
.StatusLineTermNC
{background-color: #00875f;
color: #000000;}
.TabLine
{background-color: #444444;
color: #87ff87;}
.TabLineFill
{background-color: #303030;}
.TabLineSel
{background-color: #000000;
color: #ffffff;}
.Title
{font-weight: bold;
color: #ff00ff;}
.VertSplit
{background-color: #3a3a3a;
color: #ffffff;}
.Visual
{background-color: #005f00;
color: #ffffff;}
.VisualNOS
{background-color: #005f00;
color: #ffffff;}
.WarningMsg
{font-weight: bold;
color: #ffa700;}
.WildMenu
{background-color: #ffff00;
color: #000000;}
.lCursor
{background-color: #ff0000;
color: #000000;}
.ToolbarLine
{background-color: #303030;}
.ToolbarButton
{font-weight: bold;
background-color: #444444;
color: #ffffff;}
.Comment
{color: #ffa700;}
.Constant, .String, .Character, .Number, .Float, .Boolean
{color: #ffffff;}
.Special, .Tag, .SpecialChar, .Delimiter, .SpecialComment, .Debug
{color: #ff00ff;}
.Identifier, .Function
{color: #00ffff;}
.Statement, .Conditional, .Repeat, .Label, .Operator, .Keyword, .Exception
{color: #ffff00;}
.PreProc, .Include, .Define, .Macro, .PreCondit
{color: #ffd7af;}
.Type, .StorageClass, .Structure, .Typedef
{color: #bcbcbc;}
.Underlined
{color: #00afaf;
text-decoration: underline;}
.Error
{background-color: #ff0000;
color: #ffffff;}
.Todo
{background-color: #ffff00;
color: #0000ff;}
