/* Этот CSS файл создан в программе Vim версии 8.2 */
/* из цветовой схемы mustang */
/* Для этого использовался подключаемый модуль «colo2css.vim» */
 
*, .Normal
{font-family: "Natural Mono Alt", monospace;
font-size: 10pt;
background-color: #202020;
color: #e2e2e5;}
.ColorColumn
{background-color: #2d2d2d;}
.Conceal
{background-color: #A9A9A9;
color: #D3D3D3;}
.Cursor
{background-color: #626262;}
.CursorColumn
{background-color: #2d2d2d;}
.CursorLine
{background-color: #2d2d2d;}
.CursorLineNr
{font-weight: bold;
color: #FFFF00;}
.DiffAdd
{background-color: #00008B;}
.DiffChange
{background-color: #8B008B;}
.DiffDelete
{font-weight: bold;
background-color: #008B8B;
color: #0000FF;}
.DiffText
{font-weight: bold;
background-color: #FF0000;}
.Directory
{color: #00FFFF;}
.ErrorMsg
{background-color: #FF0000;
color: #FFFFFF;}
.FoldColumn
{background-color: #BEBEBE;
color: #00FFFF;}
.Folded
{background-color: #202020;
color: #a0a8b0;}
.IncSearch
{color: #202020;
background-color: #e2e2e5;}
.LineNr
{background-color: #202020;
color: #808080;}
.MatchParen
{font-weight: bold;
background-color: #2f2f2f;
color: #d0ffc0;}
.ModeMsg
{font-weight: bold;}
.MoreMsg
{font-weight: bold;
color: #2E8B57;}
.NonText, .EndOfBuffer
{background-color: #202020;
color: #808080;}
.Pmenu
{background-color: #444444;
color: #ffffff;}
.PmenuSbar
{background-color: #BEBEBE;}
.PmenuSel
{background-color: #b1d631;
color: #000000;}
.PmenuThumb
{background-color: #FFFFFF;}
.Question
{font-weight: bold;
color: #00FF00;}
.Search, .QuickFixLine
{background-color: #FFFF00;
color: #000000;}
.SignColumn
{background-color: #BEBEBE;
color: #00FFFF;}
.SpecialKey
{background-color: #202020;
color: #808080;}
.SpellBad
{text-decoration: underline;-moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #FF0000; -webkit-text-decoration-color: #FF0000; text-decoration-color: #FF0000;}
.SpellCap
{text-decoration: underline;-moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #0000FF; -webkit-text-decoration-color: #0000FF; text-decoration-color: #0000FF;}
.SpellLocal
{text-decoration: underline;-moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #00FFFF; -webkit-text-decoration-color: #00FFFF; text-decoration-color: #00FFFF;}
.SpellRare
{text-decoration: underline;-moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #FF00FF; -webkit-text-decoration-color: #FF00FF; text-decoration-color: #FF00FF;}
.StatusLine
{font-style: italic;
background-color: #444444;
color: #d3d3d5;}
.StatusLineNC
{background-color: #444444;
color: #939395;}
.StatusLineTerm
{font-weight: bold;
background-color: #90EE90;
color: #202020;}
.StatusLineTermNC
{background-color: #90EE90;
color: #202020;}
.TabLine
{background-color: #A9A9A9;
text-decoration: underline;}
.TabLineFill
{color: #202020;
background-color: #e2e2e5;}
.TabLineSel
{font-weight: bold;}
.Title
{font-weight: bold;
color: #f6f3e8;}
.VertSplit
{background-color: #444444;
color: #444444;}
.Visual
{background-color: #3c414c;
color: #faf4c6;}
.VisualNOS
{font-weight: bold;
text-decoration: underline;}
.WarningMsg
{color: #FF0000;}
.WildMenu
{background-color: #FFFF00;
color: #000000;}
.lCursor
{background-color: #e2e2e5;
color: #202020;}
.ToolbarLine
{background-color: #7F7F7F;}
.ToolbarButton
{font-weight: bold;
background-color: #D3D3D3;
color: #000000;}
.Comment
{font-style: italic;
color: #808080;}
.Constant, .Character
{color: #ff9800;}
.Special, .Tag, .SpecialChar, .Delimiter, .SpecialComment, .Debug
{color: #ff9800;}
.Identifier
{color: #b1d631;}
.Statement, .Conditional, .Repeat, .Label, .Operator, .Exception
{color: #7e8aa2;}
.PreProc, .Include, .Define, .Macro, .PreCondit
{color: #faf4c6;}
.Type, .StorageClass, .Structure, .Typedef
{color: #7e8aa2;}
.Underlined
{color: #80a0ff;
text-decoration: underline;}
.Ignore
{color: #202020;}
.Error
{background-color: #FF0000;
color: #FFFFFF;}
.Todo
{font-style: italic;
background-color: #e6ea50;
color: #000000;}
.String, .NERDTreeOpenable, .NERDTreeCloseable, .NERDTreeCWD, .NERDTreePart
{font-style: italic;
color: #b1d631;}
.Number, .Float
{color: #ff9800;}
.Boolean
{color: #b1d631;}
.Function
{font-weight: bold;
color: #ffffff;}
.Keyword
{color: #ff9800;}
.NERDTreeDir
{color: #a5aebe;}
.NERDTreeFile
{color: #cdd2db;}
.NERDTreeUp
{color: #5b646d;}
.pythonOperator
{color: #7e8aa2;}
