/* Этот CSS файл создан в программе Vim версии 8.2 */
/* из цветовой схемы ron */
/* Для этого использовался подключаемый модуль «colo2css.vim» */
 
*, .Normal
{font-family: "Natural Mono Alt", monospace;
font-size: 10pt;
background-color: #000000;
color: #00ffff;}
.ColorColumn
{background-color: #cd0000;}
.Conceal
{background-color: #a9a9a9;
color: #e5e5e5;}
.Cursor, .lCursor
{background-color: #60a060;
color: #ffffff;}
.CursorColumn
{background-color: #666666;}
.CursorIM
{background-color: #00ffff;}
.CursorLine
{background-color: #666666;}
.CursorLineNr
{font-weight: bold;
color: #ffff00;}
.DiffAdd
{background-color: #005f00;}
.DiffChange
{background-color: #00005f;}
.DiffDelete
{background-color: #5f0000;
color: #cdcd00;}
.DiffText
{background-color: #5c5cff;
color: #00cdcd;}
.Directory
{color: #00ffff;}
.EndOfBuffer
{background-color: #303030;
color: #ffff00;}
.ErrorMsg
{background-color: #ff0000;
color: #000000;}
.FoldColumn
{color: #ffffff;}
.Folded
{background-color: #4d4d4d;}
.IncSearch
{background-color: #4682b4;}
.LineNr, .LineNrAbove, .LineNrBelow
{color: #a9a9a9;}
.MatchParen
{background-color: #008b8b;}
.ModeMsg
{font-weight: bold;}
.MoreMsg
{font-weight: bold;
color: #2e8b57;}
.NonText
{background-color: #303030;
color: #ffff00;}
.Pmenu
{background-color: #444444;
color: #ffffff;}
.PmenuSbar
{background-color: #000000;}
.PmenuSel, .PopupSelected
{background-color: #00cdcd;
color: #000000;}
.PmenuThumb
{background-color: #e5e5e5;}
.Question
{font-weight: bold;
background-color: #000000;
color: #00ff00;}
.Search, .QuickFixLine
{font-weight: bold;
background-color: #a9a9a9;
color: #000000;}
.SignColumn
{color: #00ffff;}
.SpecialKey
{color: #00ffff;}
.SpellBad
{background-color: #ff0000;
text-decoration: underline;-moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #FF0000; -webkit-text-decoration-color: #FF0000; text-decoration-color: #FF0000;}
.SpellCap
{background-color: #0000ff;
text-decoration: underline;-moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #0000FF; -webkit-text-decoration-color: #0000FF; text-decoration-color: #0000FF;}
.SpellLocal
{background-color: #00ffff;
text-decoration: underline;-moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #00FFFF; -webkit-text-decoration-color: #00FFFF; text-decoration-color: #00FFFF;}
.SpellRare
{background-color: #ff00ff;
text-decoration: underline;-moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #FF00FF; -webkit-text-decoration-color: #FF00FF; text-decoration-color: #FF00FF;}
.StatusLine
{font-weight: bold;
background-color: #0000ff;
color: #00ffff;}
.StatusLineNC
{background-color: #00008b;
color: #add8e6;}
.StatusLineTerm
{font-weight: bold;
background-color: #90ee90;
color: #000000;}
.StatusLineTermNC
{background-color: #90ee90;
color: #000000;}
.TabLine
{background-color: #008b8b;
color: #000000;}
.TabLineFill
{background-color: #7f7f7f;
color: #a9a9a9;}
.TabLineSel
{font-weight: bold;
background-color: #000000;}
.Terminal
{background-color: #000000;
color: #00ffff;}
.Title
{color: #a9a9a9;}
.VertSplit
{background-color: #00008b;
color: #add8e6;}
.Visual
{color: #000000;
background-color: #00ffff;}
.VisualNOS
{font-weight: bold;
background-color: #000000;
text-decoration: underline;}
.WarningMsg
{color: #000000;}
.WildMenu
{background-color: #ffff00;
color: #000000;}
.ToolbarLine
.ToolbarButton
{font-weight: bold;
background-color: #e5e5e5;
color: #000000;}
.Comment
{color: #00ff00;}
.Constant, .String, .NERDTreeOpenable, .NERDTreeCloseable, .NERDTreeCWD, .NERDTreePart, .Character, .Number, .Boolean, .Float
{font-weight: bold;
color: #00ffff;}
.Special, .Tag, .SpecialChar, .Delimiter, .SpecialComment, .Debug
{color: #ffff00;}
.Identifier, .Function
{color: #00ffff;}
.Statement, .Conditional, .Repeat, .Keyword, .Exception
{color: #add8e6;}
.PreProc, .Include, .Define, .Macro, .PreCondit
{color: #eea9b8;}
.Type, .StorageClass, .Structure, .Typedef
{font-weight: bold;
color: #2e8b57;}
.Underlined
{color: #80a0ff;
text-decoration: underline;}
.Ignore
{background-color: #000000;
color: #000000;}
.Error
{background-color: #ff0000;
color: #00ffff;}
.Todo
{background-color: #ffa500;
color: #000000;}
.Label
{color: #eec900;}
.Operator
{color: #ffa500;}
