/* Этот CSS файл создан в программе Vim версии 8.2 */
/* из цветовой схемы shine */
/* Для этого использовался подключаемый модуль «colo2css.vim» */
 
*, .Normal, .Terminal
{font-family: "Natural Mono Alt", monospace;
font-size: 10pt;
background-color: #ffffff;
color: #000000;}
.ColorColumn
{background-color: #ffafaf;}
.Conceal
{background-color: #767676;
color: #dadada;}
.Cursor
{background-color: #000000;
color: #ffffff;}
.CursorColumn
{background-color: #dadada;}
.CursorLine
{background-color: #dadada;}
.CursorLineNr
{background-color: #dadada;}
.DiffAdd
{background-color: #d7ffd7;}
.DiffChange
{background-color: #ffffd7;}
.DiffDelete
{background-color: #ffd7d7;
color: #ff0000;}
.DiffText
{background-color: #ffd787;
color: #000000;}
.Directory
{font-weight: bold;
color: #008b8b;}
.FoldColumn
{color: #767676;}
.Folded
{background-color: #dadada;
color: #00008b;}
.IncSearch
{color: #ffffff;
background-color: #000000;}
.LineNr, .LineNrAbove, .LineNrBelow
{color: #767676;}
.MatchParen
{background-color: #ffafaf;
color: #ffffff;}
.ModeMsg
{background-color: #ffffff;
color: #000000;}
.MoreMsg
{background-color: #ffffff;
color: #000000;}
.NonText, .EndOfBuffer
{background-color: #ffffff;
color: #add8e6;}
.Pmenu
{background-color: #a8a8a8;
color: #000000;}
.PmenuSbar
{background-color: #ffffff;
color: #ffffff;}
.PmenuSel
{background-color: #ffff60;
color: #000000;}
.PmenuThumb
{background-color: #767676;
color: #767676;}
.Question
{color: #a07070;}
.QuickFixLine
{background-color: #dadada;}
.Search
{background-color: #6a0dad;
color: #ffffff;}
.SignColumn
.SpecialKey
{color: #add8e6;}
.SpellBad
{color: #ff0000;
text-decoration: underline;-moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #ff0000; -webkit-text-decoration-color: #ff0000; text-decoration-color: #ff0000;}
.SpellCap
{color: #a07070;
text-decoration: underline;-moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #a07070; -webkit-text-decoration-color: #a07070; text-decoration-color: #a07070;}
.SpellLocal
{color: #006400;
text-decoration: underline;-moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #006400; -webkit-text-decoration-color: #006400; text-decoration-color: #006400;}
.SpellRare
{color: #2e8b57;
text-decoration: underline;-moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #2e8b57; -webkit-text-decoration-color: #2e8b57; text-decoration-color: #2e8b57;}
.StatusLine
{font-weight: bold;
background-color: #000000;
color: #ffffff;}
.StatusLineNC
{background-color: #a8a8a8;
color: #000000;}
.StatusLineTerm
{font-weight: bold;
background-color: #90ee90;
color: #000000;}
.StatusLineTermNC
{background-color: #90ee90;
color: #000000;}
.TabLine
{background-color: #dadada;
color: #000000;
text-decoration: underline;}
.TabLineFill
{color: #ffffff;
background-color: #000000;}
.TabLineSel
{font-weight: bold;}
.Title
{font-weight: bold;
color: #006400;}
.VertSplit
{background-color: #a8a8a8;
color: #a8a8a8;}
.Visual
{background-color: #a8a8a8;
color: #000000;}
.VisualNOS
{font-weight: bold;
text-decoration: underline;}
.WarningMsg
{background-color: #ffffff;
color: #6a0dad;}
.WildMenu
{font-weight: bold;
background-color: #ffff00;
color: #000000;}
.lCursor
{background-color: #a07070;
color: #000000;}
.Error, .ErrorMsg
{background-color: #ff0000;
color: #ffffff;}
.Todo
{background-color: #ffff00;
color: #000000;}
.Constant, .String, .Character, .Boolean
{color: #a07070;}
.Special, .Tag, .Delimiter, .SpecialComment, .Debug
{color: #ff8c00;}
.Identifier, .Function
{color: #008b8b;}
.Statement, .Conditional, .Repeat, .Label, .Operator, .Keyword, .Exception
{font-weight: bold;
color: #006400;}
.PreProc, .Include, .Define, .Macro, .PreCondit
{color: #6a0dad;}
.Type, .Structure, .Typedef
{font-weight: bold;
color: #2e8b57;}
.Underlined
{color: #6a0dad;
text-decoration: underline;}
.Number
{font-weight: bold;
color: #a07070;}
.Float
{font-weight: bold;
color: #a07070;}
.StorageClass
{font-weight: bold;
color: #ff0000;}
.SpecialChar
{color: #00008b;}
.Comment
{font-weight: bold;
color: #a8a8a8;}
.ToolbarButton
{font-weight: bold;
background-color: #a8a8a8;}
.ToolbarLine
