/* Этот файл CSS создан в программе Vim версии 8.2.3988 */
/* из файла цветовой схемы «darkblue» */
/* Для этого был использован подключаемый модуль «colo2css.vim» */
 
*, .Normal
{font-family: "Courier New", monospace;
font-size: 10pt;
background-color: #000040;
color: #C0C0C0;}
.ColorColumn
{background-color: #8B0000;}
.Conceal
{background-color: #A9A9A9;
color: #D3D3D3;}
.Cursor
{background-color: #FFAF38;
color: #000020;}
.CursorColumn
{background-color: #666666;}
.CursorLine
{background-color: #666666;}
.CursorLineNr
{font-weight: bold;
color: #FFFF00;}
.DiffAdd
{background-color: #00008B;}
.DiffChange
{background-color: #8B008B;}
.DiffDelete
{font-weight: bold;
background-color: #008B8B;
color: #0000FF;}
.DiffText
{font-weight: bold;
background-color: #FF0000;}
.Directory
{color: #00FFFF;}
.NonText, .EndOfBuffer
{font-weight: bold;
color: #0030FF;}
.ErrorMsg
{background-color: #287EFF;
color: #FFFFFF;}
.FoldColumn, .CursorLineFold
{background-color: #000040;
color: #808080;}
.Folded
{background-color: #000040;
color: #808080;}
.IncSearch
{background-color: #2050D0;
color: #B0FFFF;}
.LineNr
{color: #90F020;}
.MatchParen
{background-color: #008B8B;}
.ModeMsg
{font-weight: bold;
color: #22CCE2;}
.MoreMsg
{font-weight: bold;
color: #2E8B57;}
.Pmenu
{background-color: #FF00FF;}
.PmenuSbar
{background-color: #BEBEBE;}
.PmenuSel
{background-color: #A9A9A9;}
.PmenuThumb
{background-color: #FFFFFF;}
.Question
{color: #00FF00;}
.Search, .QuickFixLine
{background-color: #2050D0;
color: #90FFF0;}
.SignColumn, .CursorLineSign
{background-color: #BEBEBE;
color: #00FFFF;}
.SpecialKey
{color: #00FFFF;}
.SpellBad
{text-decoration: underline; -moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #FF0000; -webkit-text-decoration-color: #FF0000; text-decoration-color: #FF0000;}
.SpellCap
{text-decoration: underline; -moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #0000FF; -webkit-text-decoration-color: #0000FF; text-decoration-color: #0000FF;}
.SpellLocal
{text-decoration: underline; -moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #00FFFF; -webkit-text-decoration-color: #00FFFF; text-decoration-color: #00FFFF;}
.SpellRare
{text-decoration: underline; -moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #FF00FF; -webkit-text-decoration-color: #FF00FF; text-decoration-color: #FF00FF;}
.StatusLine
{background-color: #A9A9A9;
color: #0000FF;}
.StatusLineNC
{background-color: #A9A9A9;
color: #000000;}
.StatusLineTerm
{font-weight: bold;
background-color: #90EE90;
color: #000040;}
.StatusLineTermNC
{background-color: #90EE90;
color: #000040;}
.TabLine
{background-color: #A9A9A9;
text-decoration: underline;}
.TabLineFill
{color: #000040;
background-color: #C0C0C0;}
.TabLineSel
{font-weight: bold;}
.Title
{color: #FF00FF;}
.VertSplit
{background-color: #A9A9A9;
color: #000000;}
.Visual
{background-color: #C0C0C0;
color: #8080FF;}
.VisualNOS
{background-color: #C0C0C0;
color: #8080FF;
text-decoration: underline;}
.WarningMsg
{color: #FF0000;}
.WildMenu
{background-color: #000000;
color: #FFFF00;}
.lCursor
{background-color: #000000;
color: #FFFFFF;}
.ToolbarLine
{background-color: #7F7F7F;}
.ToolbarButton
{font-weight: bold;
background-color: #D3D3D3;
color: #000000;}
.Comment
{color: #80A0FF;}
.Constant
{color: #FFA0A0;}
.Special
{color: #FFA500;}
.Identifier
{color: #40FFFF;}
.Statement
{color: #FFFF60;}
.PreProc
{color: #FF80FF;}
.Type
{color: #60FF60;}
.Ignore
{color: #000040;}
.Todo
{background-color: #1248D1;
color: #D14A14;}
