/* Этот файл CSS создан в программе Vim версии 8.2.3988 */
/* из файла цветовой схемы «ron» */
/* Для этого был использован подключаемый модуль «colo2css.vim» */
 
*, .Normal
{font-family: "Courier New", monospace;
font-size: 10pt;
background-color: #000000;
color: #00FFFF;}
.ColorColumn
{background-color: #8B0000;}
.Conceal
{background-color: #A9A9A9;
color: #D3D3D3;}
.Cursor
{background-color: #60A060;
color: #00FF00;}
.CursorColumn
{background-color: #666666;}
.CursorLine
{background-color: #666666;}
.CursorLineNr
{font-weight: bold;
color: #FFFF00;}
.DiffAdd
{background-color: #6A5ACD;}
.DiffChange
{background-color: #006400;}
.DiffDelete
{font-weight: bold;
background-color: #FF7F50;
color: #0000FF;}
.DiffText
{font-weight: bold;
background-color: #6B8E23;}
.Directory
{color: #00FFFF;}
.NonText, .EndOfBuffer
{font-weight: bold;
color: #A52A2A;}
.ErrorMsg
{background-color: #FF0000;
color: #000000;}
.FoldColumn, .CursorLineFold
{background-color: #4D4D4D;
color: #FFFFFF;}
.Folded
{background-color: #4D4D4D;
color: #00FFFF;}
.IncSearch
{background-color: #4682B4;}
.LineNr
{color: #A9A9A9;}
.MatchParen
{background-color: #008B8B;}
.ModeMsg
{font-weight: bold;}
.MoreMsg
{font-weight: bold;
color: #2E8B57;}
.Pmenu
{background-color: #FF00FF;}
.PmenuSbar
{background-color: #BEBEBE;}
.PmenuSel
{background-color: #A9A9A9;}
.PmenuThumb
{background-color: #FFFFFF;}
.Question
{font-weight: bold;
color: #00FF00;}
.Search, .QuickFixLine
{background-color: #8470FF;
color: #000000;}
.SignColumn, .CursorLineSign
{background-color: #BEBEBE;
color: #00FFFF;}
.SpecialKey
{color: #00FFFF;}
.SpellBad
{text-decoration: underline; -moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #FF0000; -webkit-text-decoration-color: #FF0000; text-decoration-color: #FF0000;}
.SpellCap
{text-decoration: underline; -moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #0000FF; -webkit-text-decoration-color: #0000FF; text-decoration-color: #0000FF;}
.SpellLocal
{text-decoration: underline; -moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #00FFFF; -webkit-text-decoration-color: #00FFFF; text-decoration-color: #00FFFF;}
.SpellRare
{text-decoration: underline; -moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #FF00FF; -webkit-text-decoration-color: #FF00FF; text-decoration-color: #FF00FF;}
.StatusLine
{font-weight: bold;
background-color: #0000FF;
color: #00FFFF;}
.StatusLineNC
{background-color: #00008B;
color: #ADD8E6;}
.StatusLineTerm
{font-weight: bold;
background-color: #90EE90;
color: #000000;}
.StatusLineTermNC
{background-color: #90EE90;
color: #000000;}
.TabLine
{background-color: #A9A9A9;
text-decoration: underline;}
.TabLineFill
{color: #000000;
background-color: #00FFFF;}
.TabLineSel
{font-weight: bold;}
.Title
{font-weight: bold;
color: #A9A9A9;}
.VertSplit
{color: #000000;
background-color: #00FFFF;}
.Visual
{color: #000000;
background-color: #00FFFF;}
.VisualNOS
{font-weight: bold;
text-decoration: underline;}
.WarningMsg
{background-color: #00FF00;
color: #000000;}
.WildMenu
{background-color: #FFFF00;
color: #000000;}
.lCursor
{background-color: #00FFFF;
color: #000000;}
.ToolbarLine
{background-color: #7F7F7F;}
.ToolbarButton
{font-weight: bold;
background-color: #D3D3D3;
color: #000000;}
.Comment
{color: #00FF00;}
.Constant
{font-weight: bold;
color: #00FFFF;}
.Special
{color: #FFFF00;}
.Identifier
{color: #00FFFF;}
.Statement
{color: #ADD8E6;}
.PreProc
{color: #EEA9B8;}
.Type
{font-weight: bold;
color: #2E8B57;}
.Error
{background-color: #FF0000;}
.Todo
{background-color: #FFA500;
color: #000000;}
.Label
{color: #EEC900;}
.Operator
{color: #FFA500;}
.cIf0
{color: #BEBEBE;}
