/* Этот файл CSS создан в программе Vim версии 8.2.3988 */
/* из файла цветовой схемы «slate» */
/* Для этого был использован подключаемый модуль «colo2css.vim» */
 
*, .Normal
{font-family: "Courier New", monospace;
font-size: 10pt;
background-color: #2F4F4F;
color: #FFEFDB;}
.ColorColumn
{background-color: #8B0000;}
.Conceal
{background-color: #A9A9A9;
color: #D3D3D3;}
.Cursor
{background-color: #CD7054;
color: #000000;}
.CursorColumn
{background-color: #666666;}
.CursorLine
{background-color: #666666;}
.CursorLineNr
{font-weight: bold;
color: #FFFF00;}
.DiffAdd
{background-color: #00008B;}
.DiffChange
{background-color: #8B008B;}
.DiffDelete
{font-weight: bold;
background-color: #008B8B;
color: #0000FF;}
.DiffText
{font-weight: bold;
background-color: #FF0000;}
.Directory
{color: #00FFFF;}
.NonText, .EndOfBuffer
{font-weight: bold;
background-color: #1F3F3F;
color: #CDCD00;}
.ErrorMsg
{background-color: #FF0000;
color: #FFFFFF;}
.FoldColumn, .CursorLineFold
{background-color: #BEBEBE;
color: #00FFFF;}
.Folded
{background-color: #737373;
color: #E5E5E5;}
.IncSearch
{font-weight: bold;
background-color: #0000FF;
color: #FFFF00;}
.LineNr
{color: #FFFF00;}
.MatchParen
{background-color: #008B8B;}
.ModeMsg
{font-weight: bold;}
.MoreMsg
{font-weight: bold;
color: #2E8B57;}
.Pmenu
{background-color: #FF00FF;}
.PmenuSbar
{background-color: #BEBEBE;}
.PmenuSel
{background-color: #A9A9A9;}
.PmenuThumb
{background-color: #FFFFFF;}
.Question
{font-weight: bold;
color: #00FF00;}
.Search, .QuickFixLine
{background-color: #8DB6CD;
color: #000000;}
.SignColumn, .CursorLineSign
{background-color: #BEBEBE;
color: #00FFFF;}
.SpecialKey
{color: #00FFFF;}
.SpellBad
{text-decoration: underline; -moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #FF0000; -webkit-text-decoration-color: #FF0000; text-decoration-color: #FF0000;}
.SpellCap
{text-decoration: underline; -moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #0000FF; -webkit-text-decoration-color: #0000FF; text-decoration-color: #0000FF;}
.SpellLocal
{text-decoration: underline; -moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #00FFFF; -webkit-text-decoration-color: #00FFFF; text-decoration-color: #00FFFF;}
.SpellRare
{text-decoration: underline; -moz-text-decoration-line: underline; -moz-text-decoration-style: wavy; -webkit-text-decoration-line: underline; -webkit-text-decoration-style: wavy; text-decoration-line: underline; text-decoration-style: wavy;
-moz-text-decoration-color: #FF00FF; -webkit-text-decoration-color: #FF00FF; text-decoration-color: #FF00FF;}
.StatusLine
{font-weight: bold;
color: #2F4F4F;
background-color: #FFEFDB;}
.StatusLineNC
{color: #2F4F4F;
background-color: #FFEFDB;}
.StatusLineTerm
{font-weight: bold;
background-color: #90EE90;
color: #2F4F4F;}
.StatusLineTermNC
{background-color: #90EE90;
color: #2F4F4F;}
.TabLine
{background-color: #A9A9A9;
text-decoration: underline;}
.TabLineFill
{color: #2F4F4F;
background-color: #FFEFDB;}
.TabLineSel
{font-weight: bold;}
.Title
{font-weight: bold;
color: #FF00FF;}
.VertSplit
{color: #2F4F4F;
background-color: #FFEFDB;}
.Visual
{background-color: #FFEFDB;
color: #556B2F;}
.VisualNOS
{font-weight: bold;
text-decoration: underline;}
.WarningMsg
{font-weight: bold;
background-color: #F8F8FF;
color: #FF0000;}
.WildMenu
{background-color: #FFFF00;
color: #000000;}
.lCursor
{background-color: #FFEFDB;
color: #2F4F4F;}
.ToolbarLine
{background-color: #7F7F7F;}
.ToolbarButton
{font-weight: bold;
background-color: #D3D3D3;
color: #000000;}
.Comment
{color: #87CEEB;}
.Constant
{color: #FF7070;}
.Special
{color: #DDDD00;}
.Identifier, .Function
{color: #60DD60;}
.Statement
{color: #D2B48C;}
.PreProc
{color: #EE9A00;}
.Type
{color: #FF8BFF;}
.Error
{background-color: #CD0000;}
.String
{color: #FFA0A0;}
.Character
{color: #00FFFF;}
